<div class="q-container">
  <div class="wrap">
    <div class="adduser-content">
        <p>Sign in with your QNAP account (QID) to share and find solutions</p>
        <ul class="buttons">
            <li><a>Sign in</a></li>
            <li><a>Register</a></li>
        </ul>
    </div>
  </div>
</div>