<div class="q-container">
  <div>
    <div class="adduser-content">
        <p>Sign in with your QNAP account (QID) to share and find solutions</p>
        <ul class="buttons">
            <li><a href="https://testing-community.qnap.com.tw/signup">Sign in</a></li>
            <li><a href="https://testing-community.qnap.com.tw/login">Register</a></li>
        </ul>
    </div>
  </div>
</div>