<div class="q-container">
  <div>
    <TopicList
                @topics={{filteredTopics}}
                @showPosters='true'
                class='featured-lists__list-body'
              />
  </div>
</div>