<ul class="custom-header-links">
  <li
    class="headerLink headerLink--undefined blog-custom-header-links headerLink--undefined"
  >
    <a href="https://blog.qnap.com/en/" target="_blank">
      Blog
    </a>
  </li>
  <li
    class="headerLink headerLink--undefined knowledge-base-custom-header-links headerLink--undefined"
  >
    <a href="https://www.qnap.com/en/how-to/search" target="_blank">
      Knowledge Base
    </a>
  </li>
  <li
    class="headerLink headerLink--undefined release-note-custom-header-links headerLink--undefined"
  >
    <a href="https://www.qnap.com/en/release-notes/" target="_blank">
      Release Note
    </a>
  </li>
  <li
    class="headerLink headerLink--undefined support-custom-header-links headerLink--undefined"
  >
    <a href="https://service.qnap.com/en/home" target="_blank">
      Support
    </a>
  </li>
  <li
    class="headerLink headerLink--undefined security-guide-custom-header-links headerLink--undefined"
  >
    <a
      href="https://view.publitas.com/qnap-1/2022_security_guide_en/page/1"
      target="_blank"
    >
      Security Guide
    </a>
  </li>
</ul>