.card-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  li {
    > div {
      height: 100%;
      > div {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
          0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
          0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
          0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
        text-align: center;
        padding: 1rem;
        background: white;
        height: calc(100% - 2rem);
      }
    }
  }
}
.q-container {
  margin: 2rem 0 3rem 0;
  &.margin-0{
    margin: 0;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;
    color: $search-primary;
  }
}
ul.status-content {
  display: flex;
  justify-content: center;
  list-style: none;
  li {
    padding: 0 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    svg{
        margin-right: 5rem;
    }
  }
}
div.adduser-content {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
  text-align: center;
  padding: 1rem;
  background: #fff;
  p {
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      display: contents;
      a {
        margin: 0 1rem;
        padding: 12px 20px 12px 20px;
        font-size: 1rem;
        line-height: 1rem;
        border-radius: 4px;
        background-color: $custom-primary;
        color: white;
        &:hover {
          background-color: #3c4043;
          color: white;
        }
      }
    }
  }
}
ul.cards-content {
  li {
    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-bottom: 1rem;
    }
    width: 32%;
  }
  a {
    color: #3c4043;
    &:hover {
      color: $custom-primary;
      p{
        color:$custom-primary;
      }
    }
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    color:$desc;
  }
}
ul#category-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  li {
    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-bottom: 1rem;
    }
    width: 49%;
    figure {
      margin: 0;
    }
    > div > div {
      height: calc(100% - 3rem);
      text-align: left;
    }
    a {
      display: flex;
      color: #3c4043;
      &:hover {
        color: $custom-primary;
        p{
          color:$custom-primary;
        }
      }
      div {
        padding: 1rem;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 4.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        color:$desc;
      }
    }
  }
}
ul.news-content {
  li {
    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      .new {
        max-width: 300px;
      }
    }
    width: 32%;
    .new {
      padding: 0;
    }
    .texts {
      padding: 1rem;
    }
    > div > div {
      height: 100%;
    }
  }
  a {
    color: $custom-primary;
    display: block;
    text-align: right;
    margin-top: 2rem;
    &:hover {
      color: #00d0ff;
    }
  }
  h3 {
    font-size: 1rem;
    font-weight: 600;
    color: $search-primary;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 6.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  p {
    font-size: 1rem;
  }
  figure {
    margin: 0;
    img {
      height: 150px;
      width: 320px;
      object-fit: cover;
      object-position: center;
    }
  }
}
