body {
  .discourse-root {
    display: flex;
    flex-direction: column;
  }
  .drop-down-mode.d-header-wrap {
    order: 0;
  }
  .below-site-header-outlet.search-banner {
    order: 1;
  }
  .below-site-header-outlet.custom-homepage-connector {
    order: 2;
  }
  #main-outlet-wrapper {
    order: 3;
  }
  .below-footer-outlet.custom-footer {
    order: 4;
  }
}
$custom-primary: #1b72e7;
$search-primary: #3c4043;
$desc: #626262;

.custom-header-links {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

div.before-header-panel-outlet {
  margin-right: auto;
  margin-left: inherit;
}
.isHomepage {
  #main-outlet {
    margin-top: 0px;
  }
  #main-outlet-wrapper {
    .sidebar-wrapper {
      margin: 0px 0 50px;
    }
  }
  .list-container #list-area {
    margin-bottom: 0px;
  }

  .list-controls,.container.list-container{
    display:none;
  }
}

body .below-site-header-outlet.search-banner {
  background: #0174e1;
}

.custom-header-links .headerLink {
  margin: 0 0.5em;
  a {
    font-size: 1rem;
    color: #212529;
    padding: 0.2em;
    &:hover {
      color: $custom-primary;
      border-bottom: 3px solid $custom-primary;
    }
  }
}

sub,
sup {
  font-size: 50%;
}
sup {
  top: -0.75em;
}

.custom-footer {
  background: #3c3c3c;
}

.topic-list-bottom {
  display: none;
}

.discourse-theme--q {
  #main-outlet-wrapper {
    .sidebar-wrapper {
      background-color: #ffffff;
    }
    .sidebar-footer-wrapper{
      background: #ffffff;
    }
  }
  .topic-list-item,
  tr {
    border-bottom: 0;
  }

  .full-width .contents .topic-list .topic-list-body .topic-list-item.visited {
    border: 0;
  }
  .full-width .contents .topic-list .topic-list-body .topic-list-item {
    background-color: #f5f5f8;
    border: 0px;
    box-shadow: inherit;
    margin-bottom: 0.75rem;
  }

  .full-width .contents .topic-list .topic-list-body .topic-list-item:hover {
    background-color: #f8f8fa;
    box-shadow: inherit;
    border: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  }

  .list-controls .combo-box .combo-box-header {
    border: 0px;
    background-color: #f5f5f8;
  }

  .topic-body {
    width: 100%;
  }

  .signup-cta {
    width: 100%;
  }

  #topic-title h1 {
    margin-bottom: 10px;
  }

  .topic-avatar {
    margin-right: 12px;
  }

  .names span.first {
    background: #f5f5f8;
    padding: 5px 8px;
    border-radius: 6px;
  }

  .topic-meta-data .post-infos {
    background: #f2f2f5;
    padding: 5px 8px;
    border-radius: 6px;
  }

  .signup-cta,
  #topic-footer-buttons,
  .more-topics__container {
    max-width: inherit;
  }

  .container.posts {
    display: flex;
    flex-direction: row-reverse;
    > .row {
      width: 100%;
    }
  }

  .category-heading{
    display: flex;
    align-items: center;
    p{
        width: calc(100% - 150px - 2em);
    }
  }
}
@import "custom-search-banner-customizations";
@import "custom-content";
@import "custom-footer";
