body {
  .discourse-root {
    display: flex;
    flex-direction: column;
  }
  .drop-down-mode.d-header-wrap {
    order: 0;
  }
  .below-site-header-outlet.search-banner {
    order: 1;
  }
  .below-site-header-outlet.custom-homepage-connector {
    order: 2;
  }
  #main-outlet-wrapper {
    order: 3;
  }
  .below-footer-outlet.custom-footer {
    order: 4;
  }
}
$custom-primary: #1b72e7;
$search-primary: #3c4043;
$desc: #626262;
$homepageBlockBg: #ffffff;

.custom-header-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  @media screen and (max-width: 1280px) {
    display: none;
  }
  @media screen and (max-width: 1440px) {
    margin: 0 auto;
  }
  .headerLink {
    margin: 0 0.5em;
    a {
      font-size: 1rem;
      color: #212529;
      padding: 0.2em;
      white-space: nowrap;
      &:hover {
        color: $custom-primary;
        border-bottom: 3px solid $custom-primary;
      }
    }
  }
}

div.before-header-panel-outlet {
  margin-right: auto;
  margin-left: inherit;
}
.isHomepage {
  #main-outlet {
    margin-top: 0px;
    background: inherit;
    box-shadow: none;
  }
  #main-outlet-wrapper {
    .sidebar-wrapper {
      margin: 0px 0 50px;
    }
  }
  .list-container #list-area {
    margin-bottom: 0px;
  }

  .list-controls,
  .container.list-container {
    display: none;
  }
}

body .below-site-header-outlet.search-banner {
  background: #0174e1;
}

sub,
sup {
  font-size: 50%;
}
sup {
  top: -0.75em;
}

.custom-footer {
  background: #3c3c3c;
}

.topic-list-bottom {
  display: none;
}

.discourse-theme--q {
  #main-outlet-wrapper {
    .sidebar-wrapper {
      background-color: #ffffff;
    }
    .sidebar-footer-wrapper {
      background: #ffffff;
    }
  }
  .topic-list-item,
  tr {
    border-bottom: 0;
  }

  .full-width .contents .topic-list .topic-list-body .topic-list-item.visited {
    border: 0;
  }
  .full-width .contents .topic-list .topic-list-body .topic-list-item {
    background-color: $homepageBlockBg;
    border: 0px;
    box-shadow: none;
    margin-bottom: 0.75rem;
  }

  .full-width .contents .topic-list .topic-list-body .topic-list-item:hover {
    background-color: #f8f8fa;
    box-shadow: none;
    border: 0;
  }

  .list-controls .combo-box .combo-box-header {
    border: 0px;
    background-color: #f5f5f8;
  }

  .topic-body {
    width: 100%;
  }

  .signup-cta {
    width: 100%;
  }

  #topic-title h1 {
    margin-bottom: 10px;
  }

  .topic-avatar {
    margin-right: 12px;
  }

  .names span.first {
    background: #f5f5f8;
    padding: 5px 8px;
    border-radius: 6px;
  }

  .topic-meta-data .post-infos {
    background: #f2f2f5;
    padding: 5px 8px;
    border-radius: 6px;
  }

  .signup-cta,
  #topic-footer-buttons,
  .more-topics__container {
    max-width: inherit;
  }

  .container.posts {
    display: flex;
    flex-direction: row-reverse;
    > .row {
      width: 100%;
    }
  }

  .category-heading {
    display: flex;
    align-items: center;
    p {
      width: calc(100% - 150px - 2em);
    }
  }

  ul#navigation-bar li.posted {
    display: none;
  }

  .featured-lists__wrapper.above-main-container {
    margin-bottom: 0;
  }

  .featured-lists__list-header h2 {
    font-size: 1rem;
    font-weight: normal;
    color: $custom-primary;
    background-color: $search-primary;
    padding: 0.65em 0.75em;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 16px !important;
  }

  .topic-navigation {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .post-translation{
    .lightbox-wrapper{
        position: relative;
    }
  }

  .two-rows.extra-info-wrapper+.before-header-panel-outlet{
    display: none;
  }

  .two-rows.extra-info-wrapper+.before-header-panel-outlet+.panel .header-locale-selector-widget{
    display: none;
  }

  .header-locale-selector{
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  //animation fadeInDown
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .custom-search-banner-wrap{
    h1,p,.search-menu,.status-content {
        opacity: 0;
    }
    &.active {
        h1{
            animation: fadeInDown .4s ease-in .2s forwards;
        }
        p{
            animation: fadeInDown .4s ease-in .4s forwards;
        }
        .search-menu {
            animation: fadeInDown .5s ease-in .6s forwards;
        }
        .status-content {
            animation: fadeInDown .5s ease-in .8s forwards;
        }
    }
  }

  .user-preferences .form-vertical .control-group.home{
    display: none;
  }

  .custom-search-banner{
    background-image:url($kvBackGround);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .featured-lists__list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 .5rem;
    a{
        margin-left: auto;
    }
  }
}

.sidebar-section-content li {
  border-radius: 16px !important;
}

@import "custom-search-banner-customizations";
@import "custom-content";
@import "custom-footer";
