body {
  .discourse-root {
    display: flex;
    flex-direction: column;
  }
  .drop-down-mode.d-header-wrap {
    order: 0;
  }
  .below-site-header-outlet.search-banner {
    order: 1;
  }
  .below-site-header-outlet.custom-homepage-connector {
    order: 2;
  }
  #main-outlet-wrapper {
    order: 3;
  }
  .below-footer-outlet.custom-footer {
    order: 4;
  }
}
$custom-primary: #1b72e7;
$search-primary: #3c4043;
$desc: #626262;
@import "custom-search-banner-customizations";
@import "custom-content";
@import "custom-footer";
.custom-header-links {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  .headerLink {
    font-size: 0.75rem;
  }
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
.custom-header-links .headerLink a{
  font-size: 1rem;
  color: #bbbbbb;
  &:hover {
    color: $custom-primary;
  }
}
div.before-header-panel-outlet{
    margin-right: auto;
    margin-left: inherit;
}
.d-none{
    display: none;
}