<div class="home-logo-wrap">
  {{mount-widget widget="home-logo"}}
  <a href="/" class="header-text" style="color: rgb(0, 116, 225); text-decoration: none; font-weight: bold;">
    Community<sup style="color: rgb(255, 165, 0);">Beta</sup>
  </a>
</div>